In [1]:
# import dependences 

import pandas as pd
from sqlalchemy import create_engine, inspect
import numpy as np
import datetime

In [2]:
csv_file = "Resources/tennis_products.csv"
tennis_data = pd.read_csv(csv_file)
tennis_data.head()

,id,availability,url,product_name,list_price,sale_price,category_id,store_id,scraped_date,on_sale,last_updated
0,3c4dcec91e5058f662c7b64c8d0032d4,N,https://www.walmart.com/ip/Wilson-Clash-100-Te...,Wilson Clash 100 Tennis Racquet,370.40,370.40,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,12/12/2019,NaN,NaN
1,ad60ea3370bcfe2d6b4ff344062805f2,Y,https://www.walmart.com/ip/3-balls-Wilson-Tita...,(3 balls) Wilson Titanium Tennis Balls,2.99,1.92,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,12/12/2019,NaN,NaN
2,5a31df4da47c783157be3ca2e3a76e16,Y,https://www.walmart.com/ip/Wilson-Burn-100ULS-...,Wilson Burn 100ULS Tennis Racquet,139.00,139.00,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,12/12/2019,NaN,NaN
3,d62a1af522e6fe56def2d01662fbfa74,N,https://www.walmart.com/ip/Wilson-Energy-XL-3-...,Wilson Energy XL 3 Tennis Racquet,24.99,24.99,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,12/12/2019,NaN,NaN
4,cce2321271dbd9032b94e9d77b122a06,N,https://www.walmart.com/ip/Wilson-Tennis-Repla...,Wilson Tennis Replacement Parts WRG723600,83.32,83.32,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,12/12/2019,NaN,NaN

In [3]:
tennis_df = tennis_data[["id","product_name","category_id","store_id","sale_price","list_price","scraped_date","on_sale","url","last_updated"]]
tennis_df.head()

,id,product_name,category_id,store_id,sale_price,list_price,scraped_date,on_sale,url,last_updated
0,3c4dcec91e5058f662c7b64c8d0032d4,Wilson Clash 100 Tennis Racquet,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,370.40,370.40,12/12/2019,NaN,https://www.walmart.com/ip/Wilson-Clash-100-Te...,NaN
1,ad60ea3370bcfe2d6b4ff344062805f2,(3 balls) Wilson Titanium Tennis Balls,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,1.92,2.99,12/12/2019,NaN,https://www.walmart.com/ip/3-balls-Wilson-Tita...,NaN
2,5a31df4da47c783157be3ca2e3a76e16,Wilson Burn 100ULS Tennis Racquet,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,139.00,139.00,12/12/2019,NaN,https://www.walmart.com/ip/Wilson-Burn-100ULS-...,NaN
3,d62a1af522e6fe56def2d01662fbfa74,Wilson Energy XL 3 Tennis Racquet,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,24.99,24.99,12/12/2019,NaN,https://www.walmart.com/ip/Wilson-Energy-XL-3-...,NaN
4,cce2321271dbd9032b94e9d77b122a06,Wilson Tennis Replacement Parts WRG723600,Sports & Outdoors | Sports | Tennis & Racquets...,NaN,83.32,83.32,12/12/2019,NaN,https://www.walmart.com/ip/Wilson-Tennis-Repla...,NaN

In [10]:
SQL_USERNAME ="postgres"
SQL_PASSWORD ="password"
SQL_IP ="34.69.163.116"
PORT = 5432
DATABASE ="postgres"

In [12]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [13]:
inspector = inspect(engine)
inspector.get_table_names()

['lk_category', 'product_price', 'lk_store']

In [14]:
for table in inspector.get_table_names():
    print()
    print(table)
    for column in inspector.get_columns(table):
        print(column)

lk_category
{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': "nextval('lk_category_id_seq'::regclass)", 'autoincrement': True, 'comment': None}
{'name': 'category_name', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'last_updated', 'type': TIMESTAMP(), 'nullable': True, 'default': 'LOCALTIMESTAMP', 'autoincrement': False, 'comment': None}

product_price
{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': "nextval('product_price_id_seq'::regclass)", 'autoincrement': True, 'comment': None}
{'name': 'product_name', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'category_id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'store_id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'sale_price', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'list_price', 'type': DOUBLE_PRECISION(precision=53), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'scraped_date', 'type': TIMESTAMP(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'on_sale', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'url', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'availability', 'type': BOOLEAN(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'last_updated', 'type': TIMESTAMP(), 'nullable': True, 'default': 'LOCALTIMESTAMP', 'autoincrement': False, 'comment': None}

lk_store
{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': "nextval('lk_store_id_seq'::regclass)", 'autoincrement': True, 'comment': None}
{'name': 'store_name', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'store_url', 'type': VARCHAR(length=100), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
{'name': 'last_updated', 'type': TIMESTAMP(), 'nullable': True, 'default': 'LOCALTIMESTAMP', 'autoincrement': False, 'comment': None}